
.Card2{
    background-color: #2F61F5;
    padding: 10px 40px;
    border-radius: 10px;
    
}
.Card2  h1{
    color: white;
    font-weight:900;
    margin-bottom:3px;
    font-size:30px
}
.Card2  p ,.Card2 li{
    color:white;
}
.SymptompsIcon{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #AAAAAA29;
    border-radius: 5px;
    padding: 20px;
    justify-content:center!important;
    align-items: center!important;
    display: flex!important;
    margin: 10px;
    border-radius: 10px;
    
}
.SymptompsIcon img{
    height: 100px;
    width: 100px;
}





.actionButton{
    background-color: white!important;
    color: #2F61F5!important;
    text-align: left !important;
    height: 50px!important;
    border-radius: 4px!important;
    border: none!important;
    font-size: 15px;
    margin-bottom: 10px;

}