.infoCard {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat;
  box-shadow: 0px 3px 12px #a8a8a829;
  border-radius: 7px;
  opacity: 1;
}

.nameAndPhone {
  font-weight: 600;
  width: 160px;
  margin-bottom: 20px;
}

.nameAndPhone p {
  margin-bottom: 0px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  word-break: break-all;
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(88, 228, 88);
}
.location {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: rgb(88, 228, 88);
  font-weight: 600;
}

.Button {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid #2f61f5 !important;
  color: #2f61f5 !important;
  height: 40px !important;
  line-height: 20px !important;
}

ion-icon {
  font-size: 16px;
  color: rgb(88, 228, 88);
}

.available {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
