.homeIcons{
    width:67px;
    margin:auto;
    display:block;
}

.introCard{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #AAAAAA29;
    border-radius: 5px;
    padding: 20px;
}
.introCard p{
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    color: rgb(87, 85, 85);
}
.introCard span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: red;
}
.actionCard{
    /* display: flex; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #AAAAAA29;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-around;
}
.actionCard h1{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}
.actionCard p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    color: black
}

.actionTitle{
    font-size: 1.3rem !important;
    font-weight: bold;
}

.special{
    font-size: 1.5rem !important;
    font-weight: bold;
    color: #F55330;
}





.actionButton{
    background-color: #2F61F5!important;
    color: white!important;
    text-align: left !important;
    height: 50px!important;
    border-radius: 4px!important;
    border: none!important;
    font-size: 15px;
    margin-bottom: 13px;

}
.actionButton:hover{
    background-color:#2F61F5 !important;
    z-index: 1;
    box-shadow: 3px 3px rgb(184, 178, 178);
    font-size: 17px;
}

.actionButton2{
    background-color: white!important;
    color: #2F61F5!important;
    height: 50px!important;
    text-align: left !important;
    border-radius: 4px!important;
    border: 1px solid #2F61F5!important;
    font-size: 15px;
    margin: 0 .5rem 13px 0 !important;
    /* margin-bottom: 10px; */
}

.actionButton2:hover{
    background-color:#2F61F5 !important;
    scale: 1;
    color: white !important;
    box-shadow: 3px 3px rgb(184, 178, 178);
    font-size: 17px;

}


/* home page buttons */

.selectedcheckBox1{
    width: 20vw;
    height: 105px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border: 1px solid #2F61F5;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 20px;
    cursor: pointer;
  
  }
  .selectedcheckBox1:hover{
      box-shadow: 5px 4px rgb(204, 203, 203);
      transform: scale(1.06);
  }
  
  .text{
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    margin-top: 6px;
    font-size: 15px;
    color: #000000;
    cursor: pointer;
  }
  
  .iconBox{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .image{
      height: 2.2rem;
      cursor: pointer;
  }

  @media screen and (max-width:600px) {
      .image{
          height: auto;
      }

      .selectedcheckBox1{
        height: 85px;
        
      }
      .text{
        font-size: 12px;
      }
  }