.head {
    display: flex;
    flex-direction: row;
  }
  
  .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #001529;
  }
  
  .footer > * {
    flex: 1 100%;
  }
  
  .lFooter {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer h1 {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
  }
  
  .footer h2 {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2.8em;
    font-size: 16px;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .rFooter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  }
  
  .rFooter > * {
    color: #999;
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .box a {
    text-decoration: none;
    color: #999;
  }
  
  .hBox {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .bFooter {
    text-align: center;
    color: #999;
    padding-top: 50px;
  }
  
  .lFooter p {
    padding-right: 20%;
    color: #999;
    font-size: 16px;
  }
  
  .socials a {
    background-color: #544cd2;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
  }
  
  @media screen and (min-width: 600px) {
    .rFooter > * {
      flex: 1;
    }
    .lFooter {
      flex: 1 0px;
    }
    .rFooter {
      flex: 2 0px;
    }
  }
  
  @media (max-width: 585px) {
    .head {
      display: flex;
      flex-direction: column;
    }
  }