@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);

/* .introCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px #aaaaaa29;
  border-radius: 10px;
  padding: 20px;
} */

.staticSlider3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  padding: 10% 0;
}

.staticSlider3 h1,
.staticSlider3 h2,
.staticSlider3 h3,
.staticSlider3 h4,
.staticSlider3 h5,
.staticSlider3 h6 {
  color: #3e4555;
}

.staticSlider3 .title {
  font-weight: 500;
  line-height: 50px;
  font-size: 36px;
  color: white;
}

.staticSlider3 .title span {
  border-bottom: 3px solid #b2f5dc;
}

.staticSlider3 .textSuccessGradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.staticSlider3 {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.staticSlider3 {
  background: #1dc8cc;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #1dc8cc 0%,
    #2cdd9b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1dc8cc),
    to(#2cdd9b)
  );
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.staticSlider3 {
  padding: 15px 45px;
  font-size: 16px;
}

.Typewriter {
  margin-top: 50px !important;
  text-align: center !important;
  font-size: 50px !important;
  line-height: 70px !important;
}

.statsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 120px;
}

.imageStat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageStat img {
  height: 150px;
  width: 150px;
}

.imageStat p {
  color: white;
  font-size: 48px;
}

@media (max-width: 767px) {
  .staticSlider3 .title {
    line-height: 30px;
    font-size: 24px;
  }
}

@media (max-width: 1220px) {
  .Typewriter {
    margin-top: 50px !important;
    text-align: center !important;
    font-size: 45px !important;
    line-height: 70px !important;
  }
  .statsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 110px;
  }

  .imageStat img {
    height: 125px;
    width: 125px;
  }

  .imageStat p {
    color: white;
    font-size: 40px;
  }
}

@media (max-width: 1110px) {
  .Typewriter {
    margin-top: 50px !important;
    text-align: center !important;
    font-size: 40px !important;
    line-height: 70px !important;
  }
  .statsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
  }

  .imageStat img {
    height: 110px;
    width: 110px;
  }

  .imageStat p {
    color: white;
    font-size: 35px;
  }
}

@media (max-width: 1005px) {
  .Typewriter {
    margin-top: 50px !important;
    text-align: center !important;
    font-size: 35px !important;
    line-height: 70px !important;
  }

  .statsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
  }

  .imageStat img {
    height: 130px;
    width: 130px;
  }

  .imageStat p {
    color: white;
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .Typewriter {
    margin-top: 50px !important;
    text-align: center !important;
    font-size: 30px !important;
    line-height: 70px !important;
  }

  .statsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
  }

  .imageStat img {
    height: 110px;
    width: 110px;
  }

  .imageStat p {
    color: white;
    font-size: 25px;
  }
}

@media (max-width: 790px) {
  .Typewriter {
    margin-top: 40px !important;
    text-align: center !important;
    font-size: 25px !important;
    line-height: 70px !important;
  }

  .statsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }

  .imageStat img {
    height: 90px;
    width: 90px;
  }

  .imageStat p {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .Typewriter {
    margin-top: 35px !important;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 50px !important;
  }

  .statsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
  }

  .imageStat {
    margin-bottom: 20px;
  }

  .imageStat img {
    height: 130px;
    width: 130px;
  }

  .imageStat p {
    color: white;
    font-size: 30px;
  }
}
